<div class="forgot-password text-left">
  <vue-form name="forgotPasswordForm" :state="formstate" @submit.prevent="onSubmit">
    <validate class="form-group required-field" :class="fieldClassName(formstate.email)">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" id="email" v-model.lazy="model.email" required>
      <field-messages name="email" show="$touched || $submitted" class="help-block">
        <div slot="required">Email is a required field</div>
        <div slot="email">Email is not valid</div>
      </field-messages>
    </validate>
    <div class="form-group text-center">
      <button class="btn-runner-primary small" type="submit" :disabled="formstate.$invalid">Submit</button>
    </div>
    <div class="text-center">
      <router-link :to="{name: 'Login'}">Back to Log In</router-link>
    </div>
  </vue-form>
</div>
