<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-push-9">
        <ul class="footer-socials list-unstyled list-inline">
          <li class="social-item facebook"><a href="https://www.facebook.com/runneredq/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="social-item linkedin"><a href="https://www.linkedin.com/company-beta/3876729/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li class="social-item twitter"><a href="https://twitter.com/runneredq" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="social-item youtube"><a href="https://www.youtube.com/channel/UCoeOwagai2t7FltlalP5KNA" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6">
			  <ul class="footer-menu list-unstyled list-inline text-center">
          <li class="menu-item"><a href="https://runnertech.freshdesk.com/support/login" target="_blank">Support</a></li>
          <li class="menu-item"><a href="http://runneredq.com/disclaimer" target="_blank">Disclaimer</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-md-pull-9">
        <div class="footer-site-info">2017 © Copyright Runner EDQ</div>
      </div>
    </div>
  </div>
</footer>
