<div class="landing-container">
  <Navbar></Navbar>
  <div class="main-content">
    <div class="intro-section text-center">
      <div class="clean-address-logo">
        <img src="/src/assets/clean_address_logo.png">
      </div>
      <div class="introduction">
        <vue-typer 
          text="CLEAN_Address is a collection of enterprise data quality solutions for managing the challenging and ever changing profiles of employee, customer, vendor, student, and alumni contact data."
          :pre-type-delay="0"
          :type-delay="30"
          :repeat="0"></vue-typer>
      </div>
    </div>
  </div>
</div>
